<?xml version="1.0"?>
<launch>

  <arg name="map_frame_id" value="map"/>
  <arg name="aruco_frame_id" value="aruco"/>
  <arg name="scan_frame_id" value="scan"/>

  <node name="aruco_map_tf_test" pkg="i3dr_sbri" type="aruco_set_map_tf.py" output="screen">
    <param name="aruco_frame_id" value="aruco"/>
    <param name="map_frame_id" value="map"/>
    <param name="scan_frame_id" value="scan"/>
  </node>
</launch>